#push {
	position: fixed;
	top: 50px;
	right: 50px;	
}
.el-progress {
	width: 300px;
}
.el-select .el-input {
    width: 130px;
  }
  .input-with-select .el-input-group__prepend {
    background-color: #fff;
  }