<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<script src="../js/vue.js"></script>
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<!-- 引入组件库 -->
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
		<link rel="stylesheet" href="../css/issueDetail.css">
		<script src="http://cdn.suoluomei.com/common/js2.0/axios/axios.min.js"></script>
		<title>问题详情</title>
	</head>
	<body>
		<div id="issueDetail">
			<el-row type="flex" class="row-bg" justify="center">
			  <el-col :span="18">
				  <div class="top">
					  <el-breadcrumb separator-class="el-icon-arrow-right">
					    <el-breadcrumb-item ><a href="index.html">首页</a></el-breadcrumb-item>
					    <el-breadcrumb-item><a href="issue.html">问答专区</a></el-breadcrumb-item>
					    <el-breadcrumb-item>问题详情</el-breadcrumb-item>
					  </el-breadcrumb>
				  </div>
				  <el-col :span="7" class="leftCol">
					  <div class="authorMSG">
					  	<div class="author">
					  		<img :src="authorMsg.src" alt="" width="60" height="60" @click="getPersonMSG(1)">
					  		<div>
					  			<span class="name" @click="getPersonMSG(1)">{{authorMsg.name}}</span>
					  			<el-button type="warning" size="mini" @click="attentionPerson(1)">关注</el-button>
					  		</div>
					  	</div>
					  	<div class="messageOther">
					  		<ul>
					  			<li>
					  				<span>文章</span>
					  				<span>{{authorMsg.textCount}}</span>
					  			</li>
					  			<li>
					  				<span>视频</span>
					  				<span>{{authorMsg.videoCount}}</span>
					  			</li>
					  			<li>
					  				<span>粉丝</span>
					  				<span>{{authorMsg.fansCount}}</span>
					  			</li>
					  			<li>
					  				<span>访问</span>
					  				<span>{{authorMsg.comeCount}}</span>
					  			</li>
					  		</ul>
					  		<div class="tankMSG">
					  			<p class="level"><span>等级：</span><span>{{authorMsg.grade}}</span></p>
					  			<p class="integral"><span>积分：</span><span>{{authorMsg.integral}}</span></p>
					  		</div>
					  		<div class="contact">
					  			 <el-button type="danger" plain size="mini">私信</el-button>
					  			 <a href="">他的主页>></a>
					  		</div>
					  	</div>
					  </div>
				  </el-col>
				  <el-col :span="17">
					  <div class="content">
						  sdasdad萨达萨达阿萨大阿萨大萨打撒的撒旦萨达阿萨大萨达阿三大苏打实打实大苏打撒旦萨达萨达
					  </div>
					  <div class="reply">
						  <div class="comment el_box">
						  		<h3>2341评论</h3>
								<el-input
									   v-if="isLogin"
									   type="textarea"
									   :rows="5"
									   placeholder="请输入内容"
									   v-model="makeCommend">
									 </el-input>
									<div class="commendShadow" v-if="!isLogin">
										 <p><a href="login.html">登录</a>后才能发表评论</p>
									</div>
								  <el-button type="primary" plain @click="sendCommend" id="sendComment">发表评论</el-button>
								<el-divider></el-divider>
						  		<el-collapse v-model="activeNames" @change="handleChange">
						  		 <el-collapse-item :title="item1.name+ ':'+item1.content+'     '+item1.time" :name="index" v-for="(item1,index) in commentData" :key="item1.commentId">
						  <span class="replyBtn fReply" :title="'回复'+item1.name" @click="doReply">回复</span>
						  			 <el-divider></el-divider>
						  		    <div class="commentChild" v-for="item in item1.children" :key="item.replyId">
						  				<img :src="item.src" alt="" width="30" height="30" @click="goToPersonInfo(item1.userId)">
						  				<div>
						  					<span class="name" @click="goToPersonInfo(item.userId)">{{item.name}}:</span>&nbsp;&nbsp;回复&nbsp;&nbsp;<span class="beReply" @click="goToPersonInfo(item.beReplyId)">{{item.beReplyName}}</span><span><time datetime="item.time">{{item.time}}</time></span> <span class="replyBtn" :title="'回复'+item.name" @click="doReply">回复</span>
						  					<p class="content">{{item1.content}}</p>
						  				</div>
						  			</div>
						  		</el-collapse>
						  	</div>
					  </div>
				  </el-col>
			  </el-col>
			</el-row>
			<el-dialog title="评论内容" :visible.sync="dialogReplyVisible">
			  <el-input
			   v-if="isLogin"
			   type="textarea"
			   :rows="5"
			   placeholder="请输入内容"
			   v-model="makeReply">
			 </el-input>
			<div class="commendShadow" v-if="!isLogin">
				 <p><a href="login.html">登录</a>后才能发表评论</p>
			</div>
			  <div slot="footer" class="dialog-footer">
			    <el-button @click="cancleReply" v-if="isLogin">取 消</el-button>
			    <el-button type="primary" @click="sendReply" v-if="isLogin">确 定</el-button>
			  </div>
			</el-dialog>
		</div>
		<script src="../js/issueDetail.js"></script>
	</body>
</html>
